h1{
  line-height: 1.5em;
  border-bottom: 1px solid #DDD;
  margin-bottom: 1em;
}

p{
    font-family: 'Source Serif Pro', Georgia, serif;
    font-size: 11.5pt;
}

body{
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

pre code {
  overflow-x: scroll
}

#main{
  padding: 20px 20px;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 320px;
  color: #222;
  line-height: 1.7em;
  @media (max-width: 940px){
    padding-left: 20px;
  }
}

.button{
  display: inline-block;
  width: 50%;
  padding: 13px 0;
  text-align: center;
  font-size: 30pt;
  background: #FFF;
    color: #f7f7f7;
  text-decoration: none;
  &:hover.active{
    background: #fbfbfb;
    color: #AAA
  }
  &.active{
    color: #CCC;
  }
}

#nav_toggle{
  position: fixed;
  top: 10px;
  left: 15px;
}

#nav{
  @media (max-width: 940px){
    visibility: hidden;
  }
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  border-right: 1px solid #ddd;
  background: #fCfCfC;
  overflow-y: scroll;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    li{
      padding: 14px 20px;
      &.nav_main{
        border-bottom: 1px solid #DDD;
        padding-bottom: 17px;
      }
      &.current{
        background: #f2f2f2;
      }
      a{
        color: #222;
        text-decoration: none;
        &:hover{ color: #57D }
      }
      &.indented{
        padding: 10px 20px;
        padding-left: 50px;
      }
      .number{
        font-size: 0.7em;
        font-weight: bold;
        padding-right: 5px;
      }
      //&:hover{ background: #fff }
    }
  }
}

