doctype html
-
  Array.prototype.contains = function(obj) {
    let i = this.length;
    while (i--) { if (this[i] === obj) { return true; } }
    return false;
  }

  let pages = [];
  let cur_page = -1;
  let exclude = ['img','css','js','index.md'];

  for (let p in contents){
    if (!exclude.contains(p)){
      pages.push({
        title: contents[p].title,
        url:   contents[p].url
      });
      if (page.title == contents[p].title) cur_page = pages.length - 1;
    }
  }
  let index = contents['index.md'];

  function navNo(title){ return (title.split(' '))[0]; };
  function navTitle(title){
    if(title[1] != '.'){ return title; }
    return title.split(' ').splice(1).join(' ');
  }

  function makeNavTitle(title){
    if(title[1] != '.'){ return title; }
    return "<span class='number'>" + navNo(title) + "</span> " + navTitle(title);
  };


html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=0.7')
    title= locals.title + ' - ' + page.title
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/tomorrow.css')
    script(src='/js/main.js')
    body

    div#nav
      ul
        li.nav_main
          strong
            a(href='/index.html')!= index.title
        each p in pages
            if p == page
              if p.title[1] == '.' && p.title[2] != '0'
                li.current.indented #[a(href=p.url)!= makeNavTitle(p.title)]
              else
                li.current #[a(href=p.url)!= makeNavTitle(p.title)]
            else
              if p.title[1] == '.' && p.title[2] != '0'
                li.indented #[a(href=p.url)!= makeNavTitle(p.title)]
              else
                li #[a(href=p.url)!= makeNavTitle(p.title)]
    div#main
      h1= navTitle(page.title)
      != page.html
      if page == index
        span.button <
        a(href=pages[0].url)
          span.button.active#next_page >
      else
        if cur_page > 0
          a(href=pages[cur_page-1].url)
            span.button.active#prev_page <
        else
          span.button <
        if cur_page < pages.length - 1
          a(href=pages[cur_page+1].url)
            span.button.active#next_page >
        else
          span.button >
    div#nav_toggle(onClick='toggleNav()', title='Show/hide the navigation bar')
      img(src='/img/nav_toggle.png')
